{% extends "translationsuite/_layouts/translationsuite_cp.twig" %}
{% import "_includes/forms" as forms %}

{% block head %}
    {{ parent() }}

    {% set scriptTagOptions = {
        'depends': [
            'moshimoshi\\translationsuite\\assetbundles\\translationsuite\\TranslationsuiteAsset'
        ],
    } %}
    {{ craft.translationsuite.register('/src/js/import.ts', false, scriptTagOptions) }}

    {{ craft.translationsuite.injectActiveLanguages }}
{% endblock %}

{# The content of the CP Section#}
{% block content %}
    <form method="post" id="importContainer" enctype="multipart/form-data">
        <section class="mb-4">
            <div class="a-lightswitch">
                <div class="a-lightswitch__field p-4">
                    <h3>Choose a file: </h3>
                    <input type="file" name="translations" accept=".csv, .xlsx" />
                </div>
                <div id="file-desc" class="a-lightswitch__description">
                    Choose the file to import
                </div>
            </div>
        </section>

        <section class="mb-4">
            <div class="a-lightswitch">
                <div class="a-lightswitch__field p-4">
                    <h3>File contains headers?</h3>
                    <label for="headers" class="flex items-center">
                        <input type="checkbox" name="headers">&nbsp;
                        <span>Yes</span>
                    </label>
                </div>
                <div id="headers-desc" class="a-lightswitch__description">
                    Does the first line in your import file contain headers that should be skipped?
                </div>
            </div>
        </section>

        <section class="flex flex-nowrap justify-between items-start">
            <div class="flex-1 draggable-container">
                <div class="draggable-container__header">
                    <h2>Columns in the file</h2>
                </div>
                <div class="draggable-container__content">
                    <draggable
                            v-model="selection"
                            group="people"
                            @start="drag=true"
                            @end="drag=false"
                            item-key="id">
                        <template #item="{element}">
                            <div class="draggable-container__content__item">
                                ${element.name}
                            </div>
                        </template>
                    </draggable>
                </div>
            </div>

            <div class="flex-1 draggable-container">
                <div class="draggable-container__header">
                    <h2>Possible columns</h2>
                </div>
                <div class="draggable-container__content">
                    <draggable
                            v-model="list"
                            group="people"
                            @start="drag=true"
                            @end="drag=false"
                            item-key="id">
                        <template #item="{element}">
                            <div class="draggable-container__content__item">
                                ${element.name}
                            </div>
                        </template>
                    </draggable>
                </div>
            </div>
        </section>

        <input type="hidden" name="columns" :value="selectionList" />
        {% embed 'translationsuite/_includes/infobox/infobox' with {classes: "mt-12"} %}
            {% block content %}
                <ol>
                    <li>Choose the file you want to import.</li>
                    <li>Check the checkbox if your file contains headers.</li>
                    <li>Make a selection of columns and order them in the same way as in the file.</li>
                </ol>
                <strong>Be careful when importing because you'll be overwriting your translations.</strong>
            {% endblock %}
        {% endembed %}


        {{ csrfInput() }}
        {{ actionInput('translationsuite/settings/import-from-file') }}

        <div class="flex justify-end mt-8">
            <input type="submit" value="{{ "Import" | t('translationsuite') }}" class="btn submit float-right">
        </div>
    </form>
{% endblock %}
